<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reponse</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
    <ion-list>
      <!--<ion-item [hidden]="!form.id">
        <ion-label>ID</ion-label>
        <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-label position="floating">Intitule</ion-label>
        <ion-input type="text" name="intitule" formControlName="intitule"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Reponse Unique</ion-label>
        <ion-checkbox formControlName="reponseUnique"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Bonne Reponse</ion-label>
        <ion-checkbox formControlName="bonneReponse"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Question</ion-label>
        <ion-select id="field_question" formControlName="question" [compareWith]="compareQuestion">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option [value]="questionOption" *ngFor="let questionOption of questions; trackBy: trackQuestionById"
            >{{questionOption.id}}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
