<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}} </ion-title>
    <ion-buttons slot="end">
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-margin">
    <h3><span>{{ questions.length }} Questions </span></h3>
  </div>
  <div class="card">
    <div *ngIf="questions.length === 0" >
        Chargement...
    </div>
    <ion-list>
      <div *ngFor="let item of questions; let index = index">
        <ion-item class="ion-margin"  id="label">
          <ion-label (click)="goDetail(index, questions)" text-wrap><sup>{{ index+1 }}  </sup><br> &nbsp; &nbsp;  {{ item.intitule }} </ion-label>
          <span (click)="favourite(index)" [ngClass]="{'favourite':  questions[index].favourite} " id="favv">
            <div class="lastAnswer">
              <span slot="end" *ngIf="item.rep1 == 'TRUEANSWER'" class="valid"><ion-icon name="checkmark-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep1 == 'FALSEANSWER'" class="failed"><ion-icon name="close-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep1 == 'NEUTRALANSWER'" class="neutral"><ion-icon name="remove-circle-outline"></ion-icon></span>
              
              <span slot="end" *ngIf="item.rep2 == 'TRUEANSWER'" class="valid"><ion-icon name="checkmark-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep2 == 'FALSEANSWER'" class="failed"><ion-icon name="close-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep2 == 'NEUTRALANSWER'" class="neutral"><ion-icon name="remove-circle-outline"></ion-icon></span>
  
              <span slot="end" *ngIf="item.rep3 == 'TRUEANSWER'" class="valid"><ion-icon name="checkmark-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep3 == 'FALSEANSWER'" class="failed"><ion-icon name="close-circle-outline"></ion-icon></span>
              <span slot="end" *ngIf="item.rep3 == 'NEUTRALANSWER'" class="neutral"><ion-icon name="remove-circle-outline"></ion-icon></span>
          </div>
            <ion-icon name='star' slot="end"></ion-icon>
          </span>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
