<ion-header>
  <ion-toolbar color="tertiary ">
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Generate Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-list>

      <ion-item>
        <ion-label position="floating">Telephone :</ion-label>
        <ion-input type="tel" [(ngModel)]="userDataToGenerate.phonenumber" name="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email :</ion-label>
        <ion-input type="email" [(ngModel)]="userDataToGenerate.email" name="email"></ion-input>
      </ion-item>

    </ion-list>
  </form>
  <ion-list *ngIf="showData" >
    <ion-item>
      <ion-label>
        <p>ID :  {{ data.id }} </p><br>
        <p>Login : {{ data.login }}  </p><br>
        <p>Firstname : {{ data.firstName }} </p><br>
        <p>Lastname : {{ data.lastName }} </p><br>
        <p>Email : {{ data.email }} </p><br>
        <p>Activated : {{ data.activated }} </p><br>
        <p>CreateBy : {{ data.createdBy }} </p><br>
        <p>Authorities : {{ data.authorities }} </p><br>
        <p>Created Date : {{ data.createdDate }} </p><br>
        <p>last Modified By : {{ data.lastModifiedBy }} </p><br>
        <p>last Modified Date : {{ data.lastModifiedDate }} </p>
        <p> </p>
    </ion-label>
    </ion-item>
  </ion-list>
  
  <div class="ion-margin">
      <ion-button expand="block" type="submit" color="primary" (click)="generateUser()"> Generate </ion-button>
  </div>
 
</ion-content>
