#favv{
    font-size: 25px;
    padding-left: 10px;
}
.favourite{
    color: yellow;
}
img{
    width: 100%;
}
.BtnEnd{
    margin-right: 15%;
}
.red{
    color: red;
}
.green{
    color: greenyellow;
}