<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Changer Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="doUpdate()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nouveau mot de passe :</ion-label>
        <ion-input type="string" [(ngModel)]="newData.newPass" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmer le mot de passe :</ion-label>
        <ion-input type="password" [(ngModel)]="newData.confirmPass" name="password"></ion-input>
      </ion-item>
      <ion-row class="ion-padding">
        <ion-col>
          <ion-button expand="block" type="submit" color="primary" id="login">Changer</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
</ion-content>
